src/visualisations.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
	Document    : visualisations.xsd
	Author      : Luke Plaster
	Description : XML Schema for visualisations.xml.
-->
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="visualisations">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="unbounded" name="visualisation">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="type" type="xsd:string" />
              <xsd:element name="IVisualiser" type="xsd:string" />
              <xsd:element name="IVisualiserVisitor" type="xsd:string" />
              <xsd:element name="arguments">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="argument" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="name" type="xsd:string" />
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
